// variable styles imports
@import '../../styles/variables.scss';

.CardEmptyWrapper {
    width: 384px;
    max-width: 100%;
    height: 266px;
    background: $color-grey-2;
    border-radius: 12px;    
}