// variable styles imports
@import '../../styles/variables.scss';

.SelectorWrapper {
    position: relative;
    display: inline-block;
    ul {
        position: absolute;
        z-index: 3;
        min-width: 208px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: $color-grey-1;
        border-radius: 16px;
        padding: 8px 16px 16px;
        border-top: 1px solid $color-white-4;
        display: none;
    }
    li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 18px;
        border-radius: 12px;
        cursor: pointer;        
        span {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: $color-white-1;
        }
    }
    .ListActive {
        background: $color-green-1;
        span {
            color: $color-white-0;           
        }
    }
}
.SelectorActive {
    ul {
        display: flex;
    }
}