// variables styles imports
@import '../../styles/variables.scss';

.CardWrapper{
    width: 384px;
    max-width: 100%;
    background: $color-grey-0;
    border-radius: 12px;
    padding: 24px;
}
.CardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BrandLogo {
    display: flex;
    align-items: center;
    gap: 4px;
    img {
        border-radius: 200px;
        object-fit: cover;
        object-position: center;
    }
    span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $color-white-1;
    }
}
.Timer {
    display: flex;
    align-items: center;
    gap: 8px;
    .TimeInfo {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $color-pink-0;
        padding-left: 2px;
    }    
}
.CardDone {
    .Timer {
        .TimeInfo {
            color: $color-white-3;
        }    
    }   
}
.CardNew {
    .Timer {
        .TimeInfo {
            color: $color-green-0;
        }    
    }   
}
.NewQuestIcon {
    display: inline-block;
    text-align: center;
    width: 62px;
    height: 23px;
    background: rgba(251, 191, 36, 0.08);
    border-radius: 8px;
    img {
        max-width: 50px;    
        height: auto;  
        vertical-align: middle;  
    }
}

.CardBody {
    padding-top: 16px;
    h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: $color-white-0;
        padding-bottom: 16px;
    }
    .GatewayWrapper {
        display: flex;        
        gap: 12px;
        align-items: center;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: $color-white-1;
    }
}
.GatewayIcon {
    border-radius: 12px;
    width: 93px;
    height: 93px;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        border: 1px solid $color-white-3;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.14), 0px 4px 6px -2px rgba(0, 0, 0, 0.09);
    }
}
.CardFooter {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-top: 16px;
    span {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $color-white-2;
        padding-left: 4px;
    }
}
.UsersWrapper {
    display: inline-flex;
    align-items: center;
    img {
        border: 2px solid $color-white-4;
        border-radius: 50%;
        &:not(:first-of-type) {
            margin-left: -12px;
        }
    }
}
.QuestDone {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: $color-green-0;
    border: 1px solid $color-green-3;
    border-radius: 8px;
    padding: 1px 6px 2px;
}