// colors
$color-black-0: #000000;

$color-grey-0: #111315;
$color-grey-1: #1A1D1F;
$color-grey-2: #27272A;

$color-white-0: #ffffff;
$color-white-1: #c8cbcc;
$color-white-2: #AEB1B3;
$color-white-3: #6F767E;
$color-white-4: #272B30;

$color-green-0: #10B981;
$color-green-1: #065F46;
$color-green-2: #059669;

$color-pink-0: #F43F5E;
